@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  font-size: 0.85rem;
}

.fc-toolbar-title {
  font-size: 1rem;
  font-weight: 600;
}

.fc-button {
  padding: 4px 8px !important;
  font-size: 0.75rem !important;
}

.fc-daygrid-day-number {
  font-size: 0.8rem;
}

.fc-event {
  border-radius: 6px;
  padding: 2px 4px;
}

/* Remove browser autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}

.text-security-disc {
    -webkit-text-security: disc;
}
